[Unit]
Description=Polybot Telegram Bot - PROD
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/PolybotService
ExecStart=/home/ubuntu/PolybotService/venv/bin/python3 -m polybot.app
Restart=always
RestartSec=5
Environment=TELEGRAM_BOT_TOKEN=7661231941:AAE72m4R-mUSRVNRGlo24v5bxwF2b8wSkcI
Environment=YOLO_URL=http://10.0.1.162:11434
Environment=AWS_BUCKET=yazan-polybot-images

[Install]
WantedBy=multi-user.target
